<mat-sidenav-container class="shell-container"
  [class.sidenav-collapsed]="!isHandset() && navState.collapsed()">

  <mat-sidenav
    #sidenav
    [mode]="sidenavMode()"
    [opened]="sidenavOpened()"
    [disableClose]="!isHandset()"
    (closedStart)="navState.closeMobile()"
    class="shell-sidenav">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="shell-content">
    @if (isHandset()) {
      <button class="menu-toggle-fab"
              (click)="navState.toggleMobileOpen()"
              aria-label="Abrir menú">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
